extends /partials/layout

block body
    .mt-4
        h1
            | Welcome back #{currentUser.battletag}!
        p
            | Click "Characters" in the navbar to view a list of your WoW characters.
