extends /partials/layout

block body
    .my-4
        .alert.alert-danger(role='alert')
            h4.alert-heading Sorry, an error occurred.
            p
                | Sorry but we were unable to retrieve the characters for your World of Warcraft account(s).
            hr
            p.mb-0
                | If you haven't played in awhile we recommend logging in and out of World of Warcraft and then try again.
